RFC 3164: is the timestamp format correct?

Hi.

I was testing your log generator, in order to quickly generate log messages for testing purpose. In particular, I am interested in messages formatted with the RFC 3164 format.

I don't want to sound pedantic but I believe the message generated by ``flog`` is in a wrong format.
According to the [RFC 3164](https://tools.ietf.org/html/rfc3164), section ``5.4 Examples``, the log format should be like the following:

```
<34>Oct 11 22:14:15 mymachine su: 'su root' failed for user1 on /dev/pts/8
```
Where ``<34>`` is the priority of the log message, followed by the timestamp in the format of  
``Mmm dd  hh:mm:ss`` (see section ``4.1.2`` of the aforementioned RFC). The one you are
using is in the RFC 3339 format, which is fine for log messages which comply to the [RFC 5424 (section 6.2.3)](https://tools.ietf.org/html/rfc5424#section-6.2.3).

A message generated by ``flog`` is instead presented in the following format (generated with
``flog -f rfc3164 -n 10``):

```
2018-10-05T11:23:56+02:00 Murazik5260 Decentralized[844]: Overriding the system won't do anything, we need to quantify the neural GB array!
```
The timestamp format is not correct and the priority is missing. As far as I can see from the source code, messages in  the RFC3164 format are generated through the function ``NewRFC3164Log`` inside the ``log.go`` package.

Would it be possible to rewrite the timestamp in the following way?

```go
t := time.Now()
str := fmt.Sprintf("%d %s %02d %d:%d:%d", t.Year(), t.Month().String()[:3], t.Day(), t.Hour(), t.Minute(), t.Second())
fmt.Println(str)
```

I can also submit a pull request, if you like.


Hi!

I checked the RFC 3164 timestamp format, yes you're right. Now, the flog does not follow the correct timestamp format and priority is missing too.

I should fix the timestamp format and add the priority to the front of the log message. According to RFC 3164 timestamp format, there is no `year` part, but, in the code you wrote, there is `year` part at first position. Is it missed?

Hi,

yes there's no year part in the timestamp string defined by RFC 3164. It's just my quick 'throw away' code in Go, that I wrote to check how to extract different portion of date/time from a Time object.

I found it interesting that on the many options available in Go to format the timestamp there isn't one which is close to the format specified in the RFC 3164. I guess that nowadays it's not considered standard anymore and the reference format (for log entries) is the one provided in the RFC 3339.

Yes, time formatting is certainly a better option in general but I was not able to produce the string in the format required to be compliant with RFC 3164. Probably I did not investigate the issue long enough :-)

For example, the code snippet available [here](https://gobyexample.com/time-formatting-parsing). In the table called "Predefined date and timestamp layouts" it is shown how many formats are available but none of them is quite similar to the one required by the RFC 3164.


@mtds Check #9 PR

@mingrammer sound good to me! 

That's fortunate :). I'll version up the flog some hours later. I'm so tired now haha .. (I'm on KST zone)